<!DOCTYPE html>
<html>
<title>Wine Varieties</title>

<body style="background-color:#888888;">
<h1>Wine Tasting Project Group</h1><br/> 
<h2>List of wine varieties we predict</h2>
<div>
<ol style="margin:20px;"><li>Riesling</li><li>Pinot Noir</li><li>Cabernet Sauvignon</li><li>Chardonnay</li>
    <li>Red Blend</li><li>Bordeaux-style Red Blend</li><li>White Blend</li>
    <li>Portuguese Red</li><li>Pinot Gris</li><li>Malbec</li><li>Merlot</li>
    <li>Sauvignon Blanc</li><li>Sangiovese</li><li>Rose</li><li>Zinfandel</li>
    <li>Syrah</li><li>Nebbiolo</li><li>Rhone-style Red Blend</li><li>Sparkling Blend</li>
    <li>Tempranillo</li></ol>
</div><br/>
<nav><ul><a href="{{url_for("home")}}">Home</a></ul></nav>
</body>
</html>